<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=ЛИЛЯ-ПК;
         Initial Catalog=UsersAndAwards;
         Integrated Security=True;Connect Timeout=30;Encrypt=False;
         TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"></add>
  </connectionStrings>
</configuration>